:root {
  --bg-main: #e5e7eb;        /* page background */
  --bg-card: #ffffff;        /* cards */
  --bg-sidebar: #020617;     /* sidebar */
  --bg-header: #ffffff;
    --bg-top: #f9fafb;
  --text-primary: #020617;   /* main text */
  --text-secondary: #64748b; /* muted text */

  --border-color: #e5e7eb;

  --success: #22c55e;
  --warning: #facc15;
  --danger: #ef4444;
}
body.dark {
  --bg-main: #020617;
  --bg-card: #0f172a;
  --bg-sidebar: #020617;
  --bg-header: #020617;
    --bg-top: #1e293b;
  --text-primary: #e5e7eb;
  --text-secondary: #94a3b8;

  --border-color: #1e293b;

  --success: #22c55e;
  --warning: #facc15;
  --danger: #ef4444;
}
body{
 font-family: 'Inter', sans-serif;
 font-size: 0.85rem;
 font-weight: 500;
 line-height: 1.6;
 transition: all 0.3s ease;
 gap: 1.5rem;
 max-width: 100vw;
 background: var(--bg-main);
}

/* NEW */
.app{
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  min-height: 100vh;
}
*{
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1,h2,h3,h4,h5,h6{
    color: var(--text-primary);
    font-weight: 600;
    line-height: 1.6;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 1.6rem;
}
h3{
    font-size: 1.1rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 0.8rem;
}
.danger{
    color: var(--danger);
}
.success{
    color: var(--success);
}
/* ===========SIDEBAR============= */
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 97vh;
}
.sidebar a{
    text-decoration: none;
    color: var(--text-secondary);
    transition: all 0.3s ease;
    min-width: fit-content;
    width: 12rem;
}
.side__logo{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.sidebar img{
    width: 3rem;
    background: #ffffff;
    border-radius: 10px;
}
.side__logo h3{
    font-size: 1.4rem;
    letter-spacing: -0.1px;
    font-weight: 700;
}
.side__logo h3 span{
    color: purple;
}
.sidebar__top, .sidebar__bottom{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    
}
.sidebar__top a, .sidebar__bottom a{
    display: flex;
    align-items: center;
    border-radius: 0.6rem;
    gap: 1rem;
    padding: 0.8rem;
    
}
.sidebar__top a:hover, .sidebar__bottom a:hover{
    background-color: #ffffff;
    transform: translateX(0.5rem);
}
.sidebar__top a i, .sidebar__bottom a i{
    font-size: 1rem;
    color: #6B7280;
}
.sidebar__top a h5, .sidebar__bottom a h5{
    color: #6B7280;
}
.sidebar__toggle-open, .sidebar__toggle-close{
      display: none;
    }


/* Permanent active link */
.sidebar a.active {
    color: purple;
}

.sidebar a.active i,
.sidebar a.active h5 {
  color: purple;
}
/* =============NAV-BAR============== */
main{
   width: 100%;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar__search{
    background: #ffffff;
    width: 35rem;
    padding: 0.8rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
   align-items: center;
   gap: 0.5rem;
}
.navbar__search input{
    width: 100%;
}
.navbar__items{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.navbar__items button{
    background: #ffffff;
    color: #111827;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
}
.navbar__dark/light{
    font-size: 1rem;
}
.navbar__item{
    margin-left: 0.8rem;
}
/* ==============CARDS============== */
.main__wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}
h1{
    margin-top: 1rem;
}
.cards{
    margin: 0.7rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
}
.card{
  background: linear-gradient(135deg, #1e3a8a, #0f172a);
  color: #e5e7eb;
  border-radius: 10px;
    padding: 1rem 1.5rem;
  position: relative;
  overflow:  hidden;
  transition: 0.3s ease;
  cursor: default;
} 
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 1rem 1rem #d1d5db;
}

.card::before{
    content: "";
    display: block;
    position: absolute;
    right: -25%;
    top: 15%;
    height: 140%;
    aspect-ratio: 1/1;
    background: linear-gradient(115deg, black, transparent,transparent,transparent);
    border-radius: 50%;
    opacity: 0.2;
}
.card::after{
    content: "";
    display: block;
    position: absolute;
    right: -25%;
    top: 15%;
    height: 70%;
    aspect-ratio: 1/1;
    background: linear-gradient(115deg, black, transparent,transparent,transparent);
    border-radius: 50%;
    opacity: 0.2;
}
.card:nth-child(2){
       background: linear-gradient(135deg, #334155, #020617);
  color: #e5e7eb;
}
.card:nth-child(3){
     background: linear-gradient(135deg, #14532d, #022c22);
  color: #ecfdf5;
}
.card:nth-child(4){
  background: linear-gradient(135deg, #78350f, #451a03);
  color: #fef3c7;
}

.card h5 span{
    margin-left: 0.3rem;
    font-size: 0.7rem;
}
.card h2{
    margin: 1rem 0 1.8rem;
}
.card div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ==============overviewChart============== */
#chart{
    background: var(--bg-card);
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    height: 22rem;
   margin: 1rem 0;
}
/* ==============TOP PRODUCTS============== */
.topproducts{
    background: var(--bg-card);
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    margin: 1rem 0 2rem;
}
.topproducts h3{
    text-align: center;
}
.topproducts table{
    width: 100%;
    border-top: 1px solid #d1d5db;
}
table tbody tr td:first-child{
    display: flex;
    gap: 1rem;
    align-items: center;
}
tbody{
    text-align: center;
}

table tbody tr td{
    padding: 0.5rem;
}
table tbody tr:nth-child(odd){
    background: var(--bg-top);
    color: #2563eb;
}
table tbody tr div{
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
}
table thead th{
    padding: 0.7rem;
}
.topproducts small{
    text-align: center;
    display: block;
    color: var(--text-primary);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    transition: 3s ease;
}
.topproducts small:hover{
    background: red;
}
/* ==============TOP Categories============== */
.topCategories{
    background: #ffffff;
    width: 100%;
    border-radius: 10px;
    margin: 1.5rem 0 1rem;
    padding: 1rem;
}
.topCategories header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topCategories header i{
    font-size: 1rem;
}
#categories{
    max-width: 100%;
    margin-top: -2rem;
}
.topCategories ul{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0.6rem 0;
}
.topCategories ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topCategories ul li span{
    width: 0.7rem;
    aspect-ratio: 1/1;
    background: #b1b1b1;
    border-radius: 50%;
    display: block;
}
.topCategories ul li:nth-child(2) span {
    background: purple;
}
.topCategories ul li:nth-child(3) span {
    background: var(--success);
}
.topCategories ul li:nth-child(4) span{
    background: yellow;
}
.topCategories ul li div{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.topCategories button{
    margin-top: 0.7rem;
    padding: 0.7rem;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    background: #f9fafb;
    color: #020617;
}
/* ==============UPCOMING EVENTS============== */
.nextevents{
    background: #ffffff;
    border-radius: 10px;
    padding: 1rem;
}
.nextevents header{
    display: flex;
    justify-content: space-between;
}
.nextevents header i{
    font-size: 1rem;
}
.next__eventimage{
    margin: 1rem 0;
    border-radius: 10px;
    height: 10rem;
    overflow: hidden;
}
.nextevents ul{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.nextevents ul li{
    display: flex;
    gap: 1rem;
    align-items: center;
    box-shadow: 0 0 1rem #f3f4f6;
    padding: 0.5rem;
    border-radius: 10px;
}
.Events__image{
    width: 3rem;
   aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
}
.nextevents button{
    margin-top: 1rem;
    text-align: center;
    border-radius: 7px;
    padding: 0.7rem; 
    width: 100%;
}


/* ===========MEDIA QUERIES (TABLET)============= */
@media screen and (max-width: 1024px){
   .sidebar{
    width: 4.5rem;
   }
    .sidebar__toggle-open, .sidebar__toggle-close{
      display: none;
    }

   .sidebar h3, .sidebar h5{
    display: none;
   }
   
   .sidebar a{
    padding: 0.7rem;
    width: fit-content;
    
   }

   .navbar__search{
    max-width: 40vw;
    min-width: 12rem;
   }
   .topproducts{
    margin-bottom: 0;
   }
   .topCategories{
    /* margin-top: 0; */
   }

   .main__wrapper{
    grid-template-columns: 1fr;
   }

   .topCategories {
    margin-top: 0;
   }
   .nextevents {
    margin-bottom: 3rem;
   }
}

/* ===========MEDIA QUERIES (Mobil Phone)============= */
@media screen and (max-width: 600px){
    body{
        padding: 0.6rem;
    }
    .sidebar__toggle-open, .sidebar__toggle-close{
      display: inline-block;
      width: 3rem;
      aspect-ratio: 1/1;
      position: fixed;
      top: 90vh;
      right: 2rem;
      border-radius: 10px;
      background: #020617;
      color: #ffffff;
      font-size: 1.5rem;
       z-index: 2;
    }
    .sidebar__toggle-close{
        display: none;
    }
    .sidebar {
        background: #f9fafb;
        max-width: 15rem;
        position: fixed;
        bottom: 0;
        left: -100%;
        box-shadow: 2rem -2rem 2rem rgba(0,0,0,0.15);
        height: fit-content;
        width: 25rem;
        border-radius: 10px;
        z-index: 1;
        transition: left 0.3s ease;
    }
    .sidebar.active {
        left: 0;               /* show sidebar */
    }

    .sidebar a{
        border-radius: 0;
    }
    .sidebar a:hover{
        transform: translateX(0);
    }
    .sidebar__logo{
        margin-bottom: 1rem;
    }
    .side__logo h3, .sidebar h5{
        display: inline;
    }
    .navbar__search{
        flex-grow: 1;
        width: auto;
        min-width: 0;
        max-width: 100%;
        margin-right: 1rem;
    }
   .navbar__export{
    display: none;
   }

   .navbar__item{
    margin: 0;
   }

   .cards {
    grid-template-columns: 1fr;
   }
   .card::before{
    right: -10%;
    top: 2%;
   }
   .card::after{
    right: -10%;
   }
   table thead tr {
    display: flex;
    flex-direction: column;
   }
   table tbody tr{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
   }
   table thead tr th{
    text-align: left;
   }
}


.navbar__btn {
  padding: 0.8rem 1rem;
  border-radius: 50%;
  background: #020617;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: background-color 0.4s ease, transform 0.3s ease;
}

body.dark .navbar__btn{
  background:  #e5e7eb;
}
.navbar__btn i {
  font-size: 1.1rem;
  transition: transform 0.4s ease, opacity 0.3s ease;
}

body.dark .navbar__btn i {
  transform: rotate(180deg) scale(1.1);
}
